.content-logo {
    display: flex;
    background-image: url('/_STA3113_fotoAnsisStarks_1920x1280.png');
    height: 100vh;
    background-size: cover;
}

.logo {
    width: 470px;
    height: 160px;
}

.logo-text {   
    margin: 0;
}

.small-logo {
    width: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.main-content {
  position: relative;
  display: flex;
  &__text {
    display: flex;
    margin-left: 32px;
    flex-direction: column;
  }
  
  &__logo {
    margin-left: 32px;
    height: 78vh; /* Default height */
  }

  @media screen and (min-width: 1920px) {
    &__logo {
      height: 85vh; /* Height for screens above 1920px width */
    }
  }

  @media screen and (min-width: 2560px) {
    &__logo {
      height: 89vh; /* Height for screens above 1920px width */
    }
  }
}

.top-text {
  width: 36vw;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.logo-container {
    margin-left: 61px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(43, 45, 44, 1);;
    text-align: center;
    padding: 20px 16px 0;
    text-decoration: none;
    font-size: 24px;
    font-family: 'PlayFair', serif !important;
  }
  
  /* Change the link color to #111 (black) on hover */
  a:hover {
    color: grey;
    text-decoration: underline;
    opacity: 0.6;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
  }

  .info-link {
    margin-left: 32px;
    margin-top: 0;
  }

  .link {
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    color: rgba(43, 45, 44, 1);
    font-size: 16px;
  }