h1 {
  font-family: "PlayFair", serif;
}

.animate-to-small {
  animation: smaller-text  alternate;
  animation-timeline: scroll();
}

.animate-to-bigger {
  animation: bigger-text;
  animation-timeline: scroll();
}

@keyframes smaller-text {
  from { transform: scale(1); }
  to { transform: scale(0.3); }
}

@keyframes bigger-text {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}





.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  position: sticky;
  top: 0;
  background-color: rgb(245, 245, 245);
  z-index:2;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(43, 45, 44, 1);;
  text-align: center;
  padding: 20px 16px 0;
  text-decoration: none;
  font-size: 24px;
  font-family: 'PlayFair', serif !important;
}

/* Change the link color to #111 (black) on hover */
a:hover {
  color: grey;
  text-decoration: underline;
  opacity: 0.6;
}

.logo-container {
  margin-left: 61px;
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
}

.small-logo {
  width: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.info-link {
  margin-left: 32px;
  margin-top: 0;
}

.link {
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  color: rgba(43, 45, 44, 1);
  font-size: 16px;
}